@page "/admin/allpersonal"
@using Appointments.Domain.Models



<div class="justify-content-center d-flex mt-4">
	<div class="col-10 align-items-center">
		<Grid TItem="User"
			  Class="table table-hover table-bordered table-striped"
			  DataProvider="PersonalsDataProvider"
			  AllowFiltering="true"
			  Responsive="true">

			<GridColumns>
				<GridColumn TItem="User" HeaderText="Id" PropertyName="Id">
					@context.Id
				</GridColumn>
				<GridColumn TItem="User" HeaderText="Employee Name" PropertyName="Name" StringComparison="StringComparison.Ordinal">
					@context.Name
				</GridColumn>
				<GridColumn TItem="User" HeaderText="Designation" PropertyName="Designation">
					@context.Surname
				</GridColumn>
				<GridColumn TItem="User" HeaderText="DOJ" PropertyName="DOJ">
					@context.TcId
				</GridColumn>
				<GridColumn TItem="User" HeaderText="Active" PropertyName="IsActive">
					@context.PhoneNumber
				</GridColumn>

				<GridColumn TItem="User" HeaderText="Active" PropertyName="IsActive">
					@context.CreateDate
				</GridColumn>

				<GridColumn TItem="User" HeaderText="Active" PropertyName="IsActive">
					@context.Email
				</GridColumn>

				<GridColumn TItem="User" HeaderText="Active" PropertyName="IsActive">
					@context.Role
				</GridColumn>


			</GridColumns>

		</Grid>

		<div class="justify-content-center d-flex">
			<div class="align-items-center">

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Önceki</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Sonraki</a></li>
					</ul>
				</nav>
			</div>

		</div>


	</div>
</div>



