@page "/admin/createappointment"

@using Microsoft.AspNetCore.Components.Forms;


<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

<h3>Yeni Personel Oluştur</h3>
<div class="row">
	<div class="col-4"></div>

	<div class="col-4 align-items-center">
		<div class="table-responsive ">
			<table class="table table-hover table-bordered table-striped">

				<tbody>
					<!-- Statik Satır -->
					<tr>
						<td>
							Personel
						</td>

						<td>
							<select @onchange="@(e => {  CreateRequest.DoctorId = Guid.Parse(e.Value.ToString()); UpdateEmptyHours();})">
								@foreach (var option in Doctors)
								{
									<option value="@option.Id">@option.Name @option.Surname </option>
								}
							</select> 
						</td>

					</tr>

					<tr>
						<td>
							Klinik
						</td>

						<td>
							<select @bind="CreateRequest.ClinicId">
								@foreach (var option in Clinics)
								{
									<option value="@option.Id">@option.Name</option>
								}
							</select>
						</td>

					</tr>

					<tr>
						<td>
							Hasta
						</td>

						<td>
							<select @bind="CreateRequest.ClientId">
								@foreach (var option in Clients)
								{
									<option value="@option.Id">@(option.Name + " " + option.Surname + " - " + option.TcId)</option>
								}
							</select>

						</td>
					</tr>

					<tr>
						<td>
							Tarih
						</td>

						<td>

							<input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" @onchange="@(e =>
							{
								DateTime result;
								bool isValidDate = DateTime.TryParse(e.Value.ToString(), out result);
								if(isValidDate){
									CreateRequest.AppointmentTime = result;
									Console.WriteLine("Tarih setlendi : " + CreateRequest.AppointmentTime);
									UpdateEmptyHours();
								}
							})" placeholder="Randevu Tarihi" />

						</td>
					</tr>

					<tr>
						<td>
							Saat
						</td>

						<td>
							
							<select @bind="CreateRequest.AppointmentTime">
								@foreach (var option in emptyHours)
								{
									<option value="@option"> @option.ToString("HH:mm") </option>
								}
							</select>

						</td>
					</tr>

					<tr>
						<td>
							Not
						</td>

						<td>

							<input class="form-control" @onchange="@(e => CreateRequest.Notes = e.Value.ToString())" placeholder="Not" />

						</td>
					</tr>


					<tr>
						<td>
							Randevu Ücreti
						</td>

						<td>

							<input type="number" class="form-control" @onchange="@(e =>  CreateRequest.Price = Convert.ToInt32(e.Value))" placeholder="Fiyat" />

						</td>
					</tr>






					<tr>
						<td colspan="2">
							<Button Class="col-12" Color="ButtonColor.Success" @onclick="() => CreateAsync()">
								Oluştur
							</Button>
						</td>
					</tr>


				</tbody>
			</table>
		</div>

	</div>

	<div class="col-4"></div>

</div>