@page "/admin/allpersonal"
@using Appointments.Domain.Models
@using Microsoft.AspNetCore.Components.Forms



<div class="justify-content-center d-flex mt-4">

    <div class="col-1 ps-3">

    </div>
    <div class="col-10 align-items-center">
        <div class="table-responsive ">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>TC</th>
                        <th>Telefon</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Statik Satır -->
                    <tr>
                        <td>
                            <InputText @bind-Value:get="bindingValue[0]" @bind-Value:set="(value) => { bindingValue[0] = value; BindFilter(Domain.Enums.UserFilterType.Name,value); }" />

                        </td>
                        <td>
                            <InputText @bind-Value:get="bindingValue[1]" @bind-Value:set="(value) => { bindingValue[1] = value; BindFilter(Domain.Enums.UserFilterType.Surname,value); }" />

                        </td>
                        <td>
                            <InputText @bind-Value:get="bindingValue[2]" @bind-Value:set="(value) => { bindingValue[2] = value; BindFilter(Domain.Enums.UserFilterType.TcId,value); }" />

                        </td>
                        <td>
                            <InputText @bind-Value:get="bindingValue[3]" @bind-Value:set="(value) => { bindingValue[3] = value; BindFilter(Domain.Enums.UserFilterType.PhoneNumber,value); }" />

                        </td>
                        <td>
                            <InputText @bind-Value:get="bindingValue[4]" @bind-Value:set="(value) => { bindingValue[4] = value; BindFilter(Domain.Enums.UserFilterType.CreateDate,value); }" />

                        </td>
                        <td>
                            <InputText @bind-Value:get="bindingValue[5]" @bind-Value:set="(value) => { bindingValue[5] = value; BindFilter(Domain.Enums.UserFilterType.Email,value); }" />

                        </td>
                        <td>
                            <select @onchange="(e) => { bindingValue[6] = e.Value.ToString(); BindFilter(Domain.Enums.UserFilterType.Role, e.Value.ToString()); }">
                                @foreach (var option in RoleOptions)
                                {
                                    <option value="@option">@option.ToString()</option>
                                }
                            </select>
                        </td>
                        <td>
                            <Button Color="ButtonColor.Success" @onclick="() => ApplyFilterAsync()">
                                <i class="fa-solid fa-circle-play"></i>
                            </Button> 
                        </td>

                    </tr>

                    @foreach (var user in Users)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Surname</td>
                            <td>@user.TcId</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.CreateDate.ToString("dd.MM.yyyy")</td>
                            <td>@user.Email</td>
                            <td>@user.Role</td>
                            <td>
                                <Button Color="ButtonColor.Danger" @onclick="() => ConfirmDelete(user)">
                                    <i class="bi bi-trash"></i>
                                </Button>

                                <a class="btn btn-primary" href="/admin/updatepersonal/@user.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>






        @* 	currentpage = @currentPage
        totalCount = @totalData
        lastPage = @lastPage
        dataperpage = @dataPerPage
        *@
        <div class="justify-content-center d-flex">
            <div class="align-items-center">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">


                        <li class="page-item @(currentPage == 0 ? "disabled" : "")">
                            <a class="page-link @(currentPage == 0 ? "disabled-link" : "")" @onclick="() => GoToPage(currentPage - 1)" disabled="@(currentPage == 0)">Önceki</a>
                        </li>



                        @for (int i = currentPage - 2; i < lastPage + 1; i++)
                        {
                            @if (i < 0)
                            {
                                continue;
                            }
                            @* <p>[i:@i, curPage:@currentPage]</p> *@

                            @* <li> i = @i  currentPage = @currentPage</li> *@
                            @if (Math.Abs(i - currentPage) < 4)
                            {
                                var pageNumber = i;
                                <li class="page-item @(currentPage == i ? "active" : "")">
                                    <a class="page-link" @onclick="() => GoToPage(pageNumber)">@(i + 1)</a>
                                </li>
                            }
                        }


                        <li class="page-item @(currentPage == lastPage ? "disabled" : "")">
                            <a class="page-link @(currentPage == lastPage ? "disabled-link" : "")" @onclick="() => GoToPage(currentPage + 1)" disabled="@(currentPage == lastPage)">Sonraki</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>


    </div>
    <div class="col-1 "></div>
</div>



