@page "/admin/personal/{id}"


<style>
	.table {
		table-layout: fixed;
		width: 100%;
		padding: 0;
	}

		.table a {
			padding: 0;
			height: 3%;
			overflow: hidden;
			text-overflow: ellipsis; 
			white-space: nowrap;
			text-align: center;
			width: 100%;
		}

	

</style>



<div class="container mt-2">
	<select @onchange="@(e => {ChangedWeekAsync(e.Value.ToString()); })">
		<option value="@lastWeekStart.ToString("yyyy-MM-dd")">Önceki Hafta</option>
		<option value="@thisWeekStart.ToString("yyyy-MM-dd")" selected>Bu hafta </option>
		<option value="@nextWeekStart.ToString("yyyy-MM-dd")">Gelecek Hafta</option>
	</select>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="width: 10%;">Günler</th>
				<th colspan="2">09:00</th>
				<th colspan="2">10:00</th>
				<th colspan="2">11:00</th>
				<th colspan="2">12:00</th>
				<th colspan="2">13:00</th>
				<th colspan="2">14:00</th>
				<th colspan="2">15:00</th>
				<th colspan="2">16:00</th>
				<th colspan="2">
					<div style="display: flex; justify-content: space-between;">
						<p style="margin: 0;">17:00</p>
						<p style="margin: 0;">18:00</p>
					</div>
				</th>

			</tr>
		</thead>
		<tbody>


	
			@for (int j = 0; j < 5; j++)
			{
				orderDate = monday.AddDays(j);
				orderDate = orderDate.AddHours(9);
				<tr height="80">
					<td>@daysOfWeek[j]</td>
					@for (int i = 0; i < 18; i++)
					{

						var isBooked = appointments.Any(a => a.AppointmentTime == orderDate);
						@* Console.WriteLine(orderDate.ToString("HH:mm") + " saatinde isBooked : " + isBooked); *@

						if (isBooked)
						{
							tempAppointment = appointments.Where(a => a.AppointmentTime == orderDate).FirstOrDefault();
							Guid appointmentId = tempAppointment.Id;

							<td colspan="@(tempAppointment.Clinic.Minute > 30 ? 2 : 1) ">
								<a @onclick="() => ShowAppointment(appointmentId, true)" class="btn btn-success" sttyle="margin:0px;">
									@orderDate.ToString("HH:mm")<br />
									-<br />
									@orderDate.AddMinutes(tempAppointment.Clinic.Minute).ToString("HH:mm")
								</a>
							</td>

							int roundedMinutes = tempAppointment.Clinic.Minute <= 30 ? 30 : 60;
							orderDate = orderDate.AddMinutes(roundedMinutes);
							

							if (tempAppointment.Clinic.Minute > 30)
								i++;
						}
						else
						{
							<td></td>
							orderDate = orderDate.AddMinutes(30);
						}

					}
				</tr>


			}




		</tbody>
	</table>
</div>

@if (isEditAppointment)
{
	<UpdateAppointment updateDto="@editedDto" CloseAction="()=>{EditAppointment(Guid.Empty,false);}"></UpdateAppointment>
}

@if (isShowAppointment)
{
	<ShowAppointment showedAppointment="@showedDto" CloseAction="()=>{ShowAppointment(Guid.Empty,false);}"></ShowAppointment>
}
