@page "/admin/updateappointment/{id}"

@using Appointments.Domain.Models
@using Appointments.Utility
@using Microsoft.AspNetCore.Components.Forms;


<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" @onclick="CloseAction"></button>
	</div>
	<div class="offcanvas-body">
		<h3>Randevu Güncelle</h3>
		<div class="row">

			<div class="col-12 align-items-center">
				<div class="table-responsive ">
					<table class="table table-hover table-bordered table-striped">

						<tbody>
							<!-- Statik Satır -->
							<tr>
								<td>
									Doktor
								</td>

								<td>
									<select class="form-control" @onchange="@(e => { appointment.Doctor = (User)e.Value; UpdateEmptyHours();})">
										@foreach (var option in doctors)
										{
											<option value="@option" selected="@(option.Id == appointment.Doctor.Id)">@option.Name @option.Surname</option>
										}
									</select>
								</td>

							</tr>
							<tr>
								<td>
									Klinik
								</td>

								<td>
									<select class="form-control" @onchange="@(e => { appointment.Clinic = (Clinic)e.Value; UpdateEmptyHours();})">
										@foreach (var option in clinics)
										{
											<option value="@option" selected="@(option.Id == appointment.Clinic.Id)">@option.Name (@option.Minute)</option>
										}
									</select>
								</td>
							</tr>



							<tr>
								<td>
									Client
								</td>
								<td>
									<select class="form-control" @onchange="@(e => { appointment.Client = (Client)e.Value; })">
										@foreach (var option in clients)
										{
											<option value="@option" selected="@(option.Id == appointment.Client.Id)">@option.Name @option.Surname {@option.TcId}</option>
										}
									</select>
								</td>
							</tr>


							<tr>
								<td>
									Tarih
								</td>

								<td>
								@* 	@if (Appointment == null)
									{
										Console.WriteLine("Boş geldi tarih");
										<p> Appointment Boş </p>
									}
									else
									{
										Console.WriteLine("AppointmentTime : " + Appointment.AppointmentTime);
										<p> Appointment Dolu </p>
									} *@

									<input type="date" class="form-control" value="@((appointment == null) ? DateTime.Now.ToString("yyyy-MM-dd") : appointment.AppointmentTime.ToString("yyyy-MM-dd"))" @onchange="@(e =>
							        {
								        DateTime result;
								        bool isValidDate = DateTime.TryParse(e.Value.ToString(), out result);
								        if(isValidDate){
									        appointment.AppointmentTime = result;
									        Console.WriteLine("Tarih setlendi : " + appointment.AppointmentTime);
									        UpdateEmptyHours();
								        }
							        })" placeholder="Randevu Tarihi" />

								</td>
							</tr>

							<tr>
								<td>
									Randevu Saati
								</td>
								<td>
									<select class="form-control" @onchange="@(e => { appointment.AppointmentTime = DateTime.Parse(e.Value.ToString()); })">
										@foreach (var option in emptyHours)
										{
											<option value="@option.ToString()" selected="@(option == appointment.AppointmentTime)">@option.ToString("HH:mm")</option>
										}
									</select>
								</td>
							</tr>
							<tr>

								<td>
									Note
								</td>
								<td>
									<input class="form-control" @bind="@appointment.Notes" />
								</td>
							</tr>
							<tr>

								<td>
									Price
								</td>
								<td>
									<input class="form-control" type="number" @bind="@appointment.Price" />
								</td>
							</tr>

							<tr>
								<td colspan="2">
									<Button Class="col-12" Color="ButtonColor.Success" @onclick="() => UpdateAsync()">
										Güncelle
									</Button>
								</td>
							</tr>


						</tbody>
					</table>
				</div>

			</div>


		</div>
	</div>
</div>